.App {

  justify-content: space-evenly;
  text-align: center;
  min-height: 80vh;
  width: 1vh;
  
  
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    
  }
}

.App-header {
  
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


